.mbr-section-title {
  color: #fa8ef5 ;
  text-shadow: 2px 2px #545964;
  padding-bottom: 2rem;
}

/*
.X-two {
  margin: 0px 0 30px 0;
  background-color: rgb(184, 148, 219);
}
*/


.X-Presents {
  padding-top: 3rem;
  padding-bottom: 5rem;
}



.X-Date {
  padding: 50px 0 130px;
}
.X-Date .row {
  padding-top: 2rem;
}
.X-Date .row h4 {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 2rem;
}

.X-Date .service-block {
  background: rgba(255, 255, 255, 0.5);
}
.X-Date .service-block.color-bg {
  background: #cf74ff;
  color: #fff;
}

.X-Date .service-block.color-bg i, .X-Date .service-block.color-bg h3, .X-Date .service-block.color-bg p {
  color: #fff;
}

.X-Date .service-block h3 {
  color: #333;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.X-Date .service-block p {
  font-size: 20px;
  color: #333;
  line-height: 30px;
}




.X-Ceremony {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: rgb(184, 148, 219);
}

.wrapper {
            width: 1100px;
            margin: 100px auto;
            padding: 17px;
            border: 3px solid #fff;
            text-align: center;
        }

        .X-Ceremony .box li {
            vertical-align: top;
            padding-top: 8px;
            display: inline-block;
            width: 200px;
            height: 100px;
            border: 2px solid #ddd;
            text-align: center;
            line-height: 20px;
            margin: 5px;
            color: #f8f4ff;
            background-color: #c88de9;
        }

        .wrapper button {
            border: none;
            width: 200px;
            height: 60px;
            border-radius: 10px;
            cursor: pointer;
            outline: none;
            margin-top: 10px;
            font-weight: bolder;
            color: #fff;
            background-color: #fc74fd;
        }

        .wrapper button {
            display: inline-block;
        }

.X-Ceremony .row {
  align-items: center;
}
@media (max-width: 991px) {
  .X-Ceremony .row {
    flex-direction: column-reverse;
  }
  .X-Ceremony .image-wrapper {
    margin-bottom: 2rem;
  }
  .X-Ceremony .card-wrapper {
    padding: 0 1rem;
  }
}
@media (min-width: 992px) {
  .X-Ceremony .card-wrapper {
    padding-right: 2rem;
  }
}
.X-Ceremony .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.X-Ceremony .mbr-text,
.X-Ceremony .mbr-section-btn {
  color: #ffffff;
}
.wrapper .section-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fc74fd;
  text-shadow: 2px 2px #545964
}
.X-Ceremony .card-title {
  color: #fa8ef5 ;
  text-shadow: 2px 2px #545964
}
/*
rgb(255,223,246)
#379683;
*/


.X-Contact {
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.X-Contact .image-wrapper{
  padding-top: 2rem;
}
.X-Contact .contact-form{
  padding-top: 5rem;
  text-align: right;
}


.contact-form .form-control {
  border: 1px solid #fff;
  box-shadow: none;
  height: 45px !important;
  color: #0c0c0c;
  height: 38px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border-radius: 0;
}

.contact-form input:hover,
.contact-form textarea:hover,
.contact-form #contact-submit:hover {
  border-color: #fff;
}

.contact-form #contact-submit {
  border: none;
  padding: 15px 0;
  width: 100%;
  margin: 0;
  background: #ff5aff ;
  color: #fff;
  border-radius: 0;
}

.contact-form textarea.form-control {
  padding: 10px;
  height: 120px !important;
  outline: none;
}

.contact-details .contact-short-info {
  margin-top: 15px;
}

.contact-details .contact-short-info li {
  margin-bottom: 6px;
}


.error {
  padding: 10px;
  color: #D8000C;
  border-radius: 2px;
  font-size: 14px;
  background-color: #FFBABA;
}

.success {
  background-color: #6cb670;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 10px;
}

#error, #success {
  display: none;
  margin-bottom: 10px;
}
